html {
	width: 100%;
	height: 100%;
	line-height: 1.8em;
	font-size: 1em;
	background-image:url("hintergrund2.PNG");
	background-repeat:no-repeat;
	background-size: 100% 100% !important;
	height:fit-content;
}

body {
	font-family: "Arial";
	margin: 0em;
	padding: 0em;
}



/*Kopfbereich*/
header {
	font-size: 2.5em;
	color: white;
}

header h2 {
		font-family: "MV Boli";
		text-align: center;
		font-size: 1.1em;
}

/*X: zurück zur Levelauswahl*/
header strong {
	color: white;
	position: absolute;
	right: 0.7em;
	top: 0.7em;
}

header strong:hover {
	color: #5858FA;
}

/*Ratte*/
header img {
	position: absolute;
	top: 0.15em;
	left: 0.5em;
	height: 13%;
}



/*Hauptbereich*/

#Level {
	font-family: "MV Boli";
	font-size: 1.2em;
	position: absolute;
	float: right;
	right: 2em;
	top:4.5em;
	color: #5858FA;
}
#Kreis1 {
	float: right;
	position: relative;
	width: 1%;
	height: 1.5;
	top: 2em;
	right: 2.9em;
	background-color: white;
}

#Kreis2 {
	float: right;
	position: relative;
	width: 1%;
	height: 1.5;
	top: 2em;
	right: 2.9em;
	background-color: ;
}

#Kreis3 {
	float: right;
	position: relative;
	width: 1%;
	height: 1.5em;
	top: 2em;
	right: 2.9em;
	background-color: ;
}

#weiter {
	font-family: "MV Boli";
	font-size: 1.2em;
	position: absolute;
	float: right;
	right: 1.2em;
	top: 27.5em;
	color: #5858FA;
	background-color: white;
}

#weiter:hover {
	background-color: transparent;
}


#Audioicon {
	width: 5em;
	position: absolute;
	left: 40em;
	top: 7em;
}

#Audioicon img {
	height: auto;
	background-color: white;
}

#Audioicon img:hover {
	background-color: transparent;
}

#Frage {
	width: 19em;
	height: 3.5em;
	position: absolute;
	left: 33em;
	top: 12.5em;
	background-color: white;
}


main div p {
text-align: center;
color: black;	
}


.Bilder {
	width: 20%;
	float: left;
	position: relative;
	margin-left: 3.5em;
	top: 11em;

}

main img {
	width: 100%;
}



.Antworten {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	background-color: white;
	box-shadow: 0em 0em 2em 0em #888888;
}

.Antworten:hover {
	background-color: #5858FA;
}




/*Fußbereich*/
#Footer{
	position:absolute;
	bottom:1.5%;
	right: 2%;
	font-family:arial;
	}









