/*Allgemein*/
html {
	font-family: "Cutive Mono";
	line-height: 1.8em;
	font-size: 1em;
}

body {
	margin: 0em;
	padding: 0em;
}

/*Kopfbereich*/
header {
	top: 0em;
	background-color: white;
	width: 100%;
	height: 10em;
	position: fixed;
	font-size: 1.125em;
	z-index: -20;
}

header h1 {
	font-family: "Reenie Beanie";
	margin: 3%;
	font-size: 2.5em;
}

header h4 {
	font-family: "Cutive Mono";
	color: white;
	margin: 3%;
	font-size: 1em;
}

#Namensfeld {
	width: 56.2%;
	min-width: 10.5em;
	padding: 2.5%;
	background-color: #D6AE76;
	line-height: 2em;
}

/*Blume*/
header img {
	display: none;
}

#Trennstrich {
	width: 100%;
	height: 2.7em;
	background-color: silver;
}

header div button {
	background-color: #D6AE76;
	position: absolute;
	float: right;
	right: 1em;
	padding: 0.6em 0.8em 0.6em 0.8em;
	border-radius: 10%;
}

header div button:hover {
	color: white;
}

#Menuefeld {
	width: 30%;
	float: right;
	top: 0em;
	right: 4.7em;
	position: absolute;
	display: none;
}

header nav button {
	padding: 2%;
	margin: 0.5%;
	background-color: #D6AE76;
	width: 100%;
	min-width: 9em;
	font-family: "Cutive Mono";
	font-size: 0.8em;
}

header nav button:hover {
	color: white;
}

ul li {
	list-style: none;
}

/*Hauptteil*/
main {
	margin-top: 16em;
	width: 100%;
	height: auto;
	font-size: 1.1em;
}

.HintergrundfarbeAboutme {
	background-color: #D6AE76;
	padding: 0.6%;
}

main div {
	float: left;
	margin: 2%;
	top: 17em;
	width: 98%;
	height: auto;
	z-index: 20;
}

main img {
	width: 60%;
	min-width: 15.2em;
	max-width: 38em;
	float: left;
	box-shadow: 0em 0em 1em 0em #888888;
}

main img:hover {
	box-shadow: 0em 0em 2em 0em #888888;
}

img [alt=Streichholzlampe] {
	transform: rotate(90deg);
}

main div h3 {
	float: left;
	margin: 2%;
	font-family: "Reenie Beanie";
	font-size: 2em;
}

main div p {
	float: left;
	margin: 1.5%;
}

#Pfeilnachoben {
	position: fixed;
	height: auto;
	right: 0.2em;
	width:20%;
	bottom: 0em;
	z-index: 50;
}

div a img {
	width: 18%;
	min-width: 1.8em;
	float: right;
}

/*Fuﬂbereich*/
footer {
	font-size: 1em;
	margin-top: 2em;
	float: left;
	bottom: 0em;
	width: 100%;
	height: auto;
	background-color: silver;
}

footer div {
	width: 96%;
	margin: 2%;
	position: relative;
	text-algin: center
}

#Footerbox1 img {
	width: 20%;
	max-width: 4em;
}

#Footerbox2 img {
	width: 10em;
}

#Footerbox3 strong {
	color: white;
}

/*Responsive*/
@media screen and (min-width: 36em) {
	main {
		margin-top: 15em;
	}
	header h1 {
		font-size: 2.8em;
	}
	header h4 {
		font-size: 1.5em;
	}
}

@media screen and (min-width: 42em) {
	footer div {
		width: 29.33333333%;
		position: relative;
		float: left;
	}
}

@media screen and (min-width: 77em) {
	header img {
		position: absolute;
		width: 13%;
		float: right;
		left: 33em;
		top: 1.8em;
		display: block;
	}
}