html {
	width: 100%;
	height: 100%;
	line-height: 1.8em;
	font-size: 1em;
}
body{
	background-color:#00b0f0;
	background-image:url("hintergrund2.PNG");
	background-repeat:no-repeat;
	background-size: 100% 100% !important;
	height:fit-content;
	font-family: "Arial";
	margin: 0em;
	padding: 0em;
}



/*Kopfbereich*/
header {
	font-size: 2.5em;
	color: white;
}

header h2 {
		font-family: "MV Boli";
		text-align: center;
		font-size: 1.1em;
}

/*X: zurück zur Levelauswahl*/
header strong {
	color: white;
	position: absolute;
	right: 0.7em;
	top: 0.7em;
}

header strong:hover {
	color: #5858FA;
}

/*Ratte*/
header img {
	position: absolute;
	top: 0.15em;
	left: 0.5em;
	height: 13%;
}



/*Hauptbereich*/

#Level {
	font-family: "MV Boli";
	font-size: 1.2em;
	position: absolute;
	float: right;
	right: 2em;
	top:4.5em;
	color: #5858FA;
}

#Levelpunkte {
	float: right;
	position: relative;
	width: 4%;
	height: auto;
	top: 2em;
	right: 2.5em;
	background-color: ;
}

#weiter {
	font-family: "MV Boli";
	font-size: 1.2em;
	position: absolute;
	float: right;
	right: 1em;
	top: 9em;
	color: #5858FA;
	background-color: white;
}

#weiter:hover {
	background-color: transparent;
}


#Audioicon {
	width: 5em;
	position: absolute;
	left: 34.2em;
	top: 11.5em;
	z-index: 30;
}



#Frage {
	width: 17em;
	height: 6.6em;
	position: absolute;
	left: 34.1em;
	top: 7.3em;
	background-color: white;
}


main div p {
text-align: center;
color: black;	
}


.Bilder {
	width: 20%;
	float: left;
	position: relative;
	margin-left: 3.5em;
	top: 11em;

}

.foto{
	height:11em;
}

#H{
	top:9.2em;
}

main img {
	width: 100%;
}

.Antworten {
	width: 100%;
	height: auto;
	position: relative;
	float: left;
	background-color: white;
	box-shadow: 0em 0em 2em 0em #888888;
}

.Antworten:hover {
	background-color: #5858FA;
}




/*Fußbereich*/
#Footer{
	position:absolute;
	bottom:1.5%;
	right: 2%;
	font-family:arial;
	}









